<footer class="footer fixed-bottom bg-secondary-subtle">
  <div class="container text-center">
      <span class="text-black">
          Blog desenvolvido visando desenvolver competências com Ruby on Rails 7.
      </span>
  </div>
</footer>